$bojaPozadine: #292C31;
$slovaNav: 20px;
$var1: 300px;
$var2: 1144px;
//  var1 sirina zaobljenog diva u px, var2 sirina diva koji opkruzuje zaobljene divove 
// u html-u var1 su sirine sledecih divova: .roundedDiv-img .roundedDiv-empty .roundedDiv .roundedDiv-bg
// dok je var2 sirina parent diva u html-u 


//CAMPSTER - dodane varijable
$var100: 100em;
$var50: 50em;
$var002: 2em;
